<h1>People</h1>
<%# <p>Find me in app/views/people/show.html.erb</p> %>
<h1>Name: <%= " #{@person.first_name} #{@person.last_name}"%></h1>
<h2>Age <%= @person.age %></h2>
<h2>Hair Color: <%= @person.hair_color %></h2>
<h2>Eye Color: <%= @person.eye_color %></h2>
<h3>Gender: <%= @person.gender %></h3>
<%= link_to "Back", people_path %>
